*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* #page-header{
    background-image: url(images/photo1713622444.jpeg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
} */
body{
    position: relative;
}
#header{
    /* display: flex;
    align-items:center;
    justify-content:space-between;
    padding: 15px 70px;
    background-color: rgb(209, 192, 225);
    /* position: fixed;
    top: 0;
    left: 0;
    z-index: 30; */ 
    display: flex;
    justify-content:space-between;
    align-items:center;
    background-color:  rgb(192, 202, 210);
    width: 100%;
    height: 70px;
    /* overflow: auto; */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 30;
}

#navbar{
    display: flex;
    align-items:center;
    justify-content: center;
    padding: 0px 100px;
    margin-right: -750px ;
    /* position: fixed; */
}
#navbar li{
    list-style: none;
    padding: 0px 30px;
    position: relative;
}
#navbar li a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: black;
    transition: 0.3 ease;
}
#navbar li a:hover,
#navbar li a.active{
    color: rgb(37, 177, 166);
}
#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: rgb(37, 177, 166);
    position: absolute;
    bottom: -4px;
    left:20px
}
#page-header.blog-header{
    width: 100%;
    height: 45vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 20px;
    background-color:rgb(133, 88, 126) ;
}
.logo{
    margin-left: 70px;
}
#blog{
    padding: 150px 150px 0px 150px;

}
#blog .blog-box{
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    padding-bottom: 80px;
}
#blog .blog-img{
    width: 50%;
    margin-right: 40px;
}
#blog img{
width:90% ;
height: 350px;
object-fit: cover;
}
#blog .blog-details{
    width: 50%;
}
#blog .blog-details a{
text-decoration: none;
font-size: 11px;
color: black;
font-weight: 700;
position: relative;
}
#blog .blog-details a::after{
    content: "";
    width: 50px;
    height: 1px;
    background-color: black;
    position: absolute;
    top: 4px;
    right: -60px;
}
#blog .blog-details a:hover{
    color: rgb(37, 177, 166);
}
#blog .blog-details a:hover::after{
    background-color: rgb(37, 177, 166);
}
#blog .blog-box h1{
    position: absolute;
    top:-60px;
    left: 0;
    font-size: 70px;
    font-weight: 700;
    color: gray ;
    z-index: -9;
}
.btn1{
    margin-top: -50px;
}
.btn{
    color: rgb(0, 0, 0);
    background-color: #588f8a;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    margin-top: 100px;

}
.btn:hover{
    
}

#pegination{
    text-align: center;
}
#pegination a{
text-decoration: none;
background-color: #088178;
padding: 15px 20px;
border-radius: 4px;
color: #fff;
font-weight: 600;
}
#pegination a i{
font-size: 16px;
font-weight: 600;
margin-bottom: 100px;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgb(243, 233, 222);

}

footer .col {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap;
    justify-content: space-between; */
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo {
    margin-bottom: 30px;

}


footer h4 {
    font-size: 14px;
    padding-bottom: 20px;
}

footer p {
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a {
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

footer .follow {
    margin-top: 20px;
}

footer .follow i {
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}

footer .install .row img {
    border: 1px solid #088178;
    border-radius: 6px;
}

footer .install img{
    margin: 10px 0 15px 0;

}

footer .follow i:hover,
footer a:hover{
    color: #088178;
}

footer .copyright{
    width:100%;
    text-align: center;
}
