*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.form{
 width: 100%;
 height: 600px;

background-image: linear-gradient(rgba(10,10,10,.4),rgba(10,10,10,.7)),url(../images/clothes_background.jpg);
background-attachment: fixed;
background-repeat: no-repeat;
background-size: 100% 600px;
}
.sectionform{
    width: 35%;
    height: 428px;
    /* background-color:black; */
    background-color:rgb(125, 57, 80);
    position: absolute;
    right:90px;
    top: 90px;
    padding: 10px 60px;
}
label{
    display: inline-block;
    width: 45%;
    color:black;
    font-weight: 700;
 
}
input
{
margin-top: 20px;
height: 30px;
width: 50%;
border-radius: 7px;
font-size: 15px;
color:rgb(65, 65, 130);

font-weight:500;
}


input[type="submit"]
{
    display: block;
    margin: 25px auto;
    color: rgb(78, 61, 18);
    border-radius: 7px;
    width: 80px;
    
    font-weight: bold;
background-color: silver;
   
}
input[type="submit"]:hover
{
  
background-color: rgb(138, 125, 125);
  
}
textarea{
    margin-top: 20px;
    font-size: 15px;
    border-radius: 7px;
    height:100px;
    width: 50%;
    vertical-align:middle;
    color:rgb(65, 65, 130);
    font-weight:500;
}
.form .information{
   
    width: 35%;
    height: 400px;
    
    position: absolute;
    left:150px;
    top: 150px;
    padding: 30px 60px;

}
.information a{
font-size: 20px;
color:rgb(48, 48, 137);
text-decoration: none;
display: inline-block;
margin: 20px 40px 0px;
}
.information a:hover{
    color: rgb(18, 18, 94);
}
 .information i{
  
   color: rgb(125, 57, 80);
    
    font-size: 25px;
    display: inline-block;
    
    
}
.information p{
color: aliceblue;
margin-left: 70px;
margin-bottom: 30px;
}






.map .a {
    padding: 60px 50px;
    
    }
.map .a h4,h6{
    color: black;
    margin-bottom: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }


.map .a p{
display: inline-block;
margin:10px 25px;
color: black;
font-size: 20px;
}
.map i{
    
    color: rgb(125, 57, 80);
    font-size: 25px;
    display: inline-block;
    margin:0px 11px;
    
}

.map{
    width: 100%;
    height: 400px;
    
    display:flex;
}
.map .a{
    
    width: 30%;
    height: 400px;
    font-size: 20px;
    
    
    background-color:grey;
}
.map .b iframe{
    width: 70%;
    height: 400px;
    
    position: absolute;
    right: 0px;
   
}
